# Data Wrangling

Kiana Perst

22 October 2021

## Purpose

Wrangle data to prep for visualizing

## Tidy Data

1. Each variable forms a column
2. Each observation forms a row
3. Each type of observational unit forms a table

1. Each variable must have its own column
2. Each observation must have its own row
3. Each value must have its own cell

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/gapminder_all.csv")
# this is a wide data frame, we want to turn it into a long data frame

In [7]:
cols = list(df.columns)
cols.remove('continent')
cols.remove('country')
cols

['gdpPercap_1952',
 'gdpPercap_1957',
 'gdpPercap_1962',
 'gdpPercap_1967',
 'gdpPercap_1972',
 'gdpPercap_1977',
 'gdpPercap_1982',
 'gdpPercap_1987',
 'gdpPercap_1992',
 'gdpPercap_1997',
 'gdpPercap_2002',
 'gdpPercap_2007',
 'lifeExp_1952',
 'lifeExp_1957',
 'lifeExp_1962',
 'lifeExp_1967',
 'lifeExp_1972',
 'lifeExp_1977',
 'lifeExp_1982',
 'lifeExp_1987',
 'lifeExp_1992',
 'lifeExp_1997',
 'lifeExp_2002',
 'lifeExp_2007',
 'pop_1952',
 'pop_1957',
 'pop_1962',
 'pop_1967',
 'pop_1972',
 'pop_1977',
 'pop_1982',
 'pop_1987',
 'pop_1992',
 'pop_1997',
 'pop_2002',
 'pop_2007']

In [8]:
df_melted = pd.melt(df, id_vars = ['country', 'continent'], value_vars = cols)
df_melted

             country continent        variable         value
0            Algeria    Africa  gdpPercap_1952  2.449008e+03
1             Angola    Africa  gdpPercap_1952  3.520610e+03
2              Benin    Africa  gdpPercap_1952  1.062752e+03
3           Botswana    Africa  gdpPercap_1952  8.512411e+02
4       Burkina Faso    Africa  gdpPercap_1952  5.432552e+02
...              ...       ...             ...           ...
5107     Switzerland    Europe        pop_2007  7.554661e+06
5108          Turkey    Europe        pop_2007  7.115865e+07
5109  United Kingdom    Europe        pop_2007  6.077624e+07
5110       Australia   Oceania        pop_2007  2.043418e+07
5111     New Zealand   Oceania        pop_2007  4.115771e+06

[5112 rows x 4 columns]

In [9]:
df_melted[['metric', 'year']] = df_melted['variable'].str.split("_", expand=True)
df_melted

             country continent        variable         value     metric  year
0            Algeria    Africa  gdpPercap_1952  2.449008e+03  gdpPercap  1952
1             Angola    Africa  gdpPercap_1952  3.520610e+03  gdpPercap  1952
2              Benin    Africa  gdpPercap_1952  1.062752e+03  gdpPercap  1952
3           Botswana    Africa  gdpPercap_1952  8.512411e+02  gdpPercap  1952
4       Burkina Faso    Africa  gdpPercap_1952  5.432552e+02  gdpPercap  1952
...              ...       ...             ...           ...        ...   ...
5107     Switzerland    Europe        pop_2007  7.554661e+06        pop  2007
5108          Turkey    Europe        pop_2007  7.115865e+07        pop  2007
5109  United Kingdom    Europe        pop_2007  6.077624e+07        pop  2007
5110       Australia   Oceania        pop_2007  2.043418e+07        pop  2007
5111     New Zealand   Oceania        pop_2007  4.115771e+06        pop  2007

[5112 rows x 6 columns]

In [10]:
df_final = df_melted[['country', 'continent', 'year', 'metric', 'value']]
df_final = df_final.sort_values(by=['continent', 'country', 'year', 'metric'])
df_final

          country continent  year     metric         value
0         Algeria    Africa  1952  gdpPercap  2.449008e+03
1704      Algeria    Africa  1952    lifeExp  4.307700e+01
3408      Algeria    Africa  1952        pop  9.279525e+06
142       Algeria    Africa  1957  gdpPercap  3.013976e+03
1846      Algeria    Africa  1957    lifeExp  4.568500e+01
...           ...       ...   ...        ...           ...
3265  New Zealand   Oceania  2002    lifeExp  7.911000e+01
4969  New Zealand   Oceania  2002        pop  3.908037e+06
1703  New Zealand   Oceania  2007  gdpPercap  2.518501e+04
3407  New Zealand   Oceania  2007    lifeExp  8.020400e+01
5111  New Zealand   Oceania  2007        pop  4.115771e+06

[5112 rows x 5 columns]

In [11]:
df_final.to_csv("Data/gapminder_tidy.csv", index = False)